# 全てのファイルを一旦無視
*

# 以下に指定されているファイルやディレクトリをホワイトリストに追加

# ホワイトリストに追加するファイルやディレクトリ
!.gitignore
!starship.toml
!wezterm/
!wezterm/**/*.lua
!karabiner/karabiner.json
!zsh

# ブラックリスト
zsh/.zsh_history
zsh/.zsh_sessions
# 端末固有の設定ファイル
zsh/conf.d/hosts/*.zsh
