# 最初にすべての階層のファイルを無視します
# 階層は必要なだけ追加する
### all ignore ###
/*
/.**

# 以下に指定されているファイルやディレクトリをホワイトリストに追加

# ホワイトリストに追加するファイルやディレクトリ
!.gitignore
!install.sh
!/.bin/
!/.bin/**
!starship.toml
!wezterm/
!wezterm/**/*.lua
!karabiner/karabiner.json
!zsh

# ブラックリスト
zsh/.zsh_history
zsh/.zsh_sessions
# 端末固有の設定ファイル
zsh/conf.d/hosts/*.zsh
