*.pem
.nodenv
.pyenv
.rbenv
anyenv
coc
configstore
fish
gcloud
gh
git
github-copilot
iterm2
karabiner
lazygit
yarn
zsh-abbr
flutter
crossnote
.wrangler

# iOSSettings
tool_state

# 社内情報を含むファイル
homes-*
lh-*
exp-library
wireshark

zsh/.zsh_history
zsh/.zsh_sessions

# 端末固有の設定ファイル
zsh/conf.d/hosts/*.zsh
